exportPattern("^[[:alpha:]]+")
importFrom("stats", "cor", "ecdf", "p.adjust", "quantile", "as.formula", "dist", "hclust")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(data.table)
import(ggplot2)
importFrom(miloR, nhoodExpression, nhoods, calcNhoodExpression)
