exportPattern("^[[:alpha:]]+")
importFrom("stats", "cor", "ecdf", "p.adjust", "quantile")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(data.table)
import(ggplot2)
importFrom(miloR, nhoodExpression, nhoods, calcNhoodExpression)
